<!-- <header>
    <div class="flex-container">
        <div class="logo">
            <img src="assets/ets logo2.png" alt="ETS Logo">
        </div>
        <nav>
            <p>Office/Department</p> 
        </nav>
        <div class="account-link">
            <p>{{ userInfo.name }}</p>
        </div>
    </div>
</header>

<div class="sidebar">
    <ul>
        <br>
        <li>
            <a routerLink="job-request" routerLinkActive="active">
                Job Request
            </a>    
        </li>
    </ul>
</div>

<div class="main-content">
    <router-outlet></router-outlet>
</div>
 -->
