.head-title {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin-top: 10px;
}

.sub-head-title {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label, .hardware-label {
    font-weight: 500;
}





@media (max-width: 768px) {

}

@media (max-width: 480px) {

}